body {
    padding-top: 52px;
    height: 100%;
    font-family: Volkhov, serif;
}

a.navbar-brand{
    text-transform: uppercase;
    color: #e74c3c;
    font-size: 1.4em;
    font-weight: 600;
}

.poster{
    height: 30%;
    width: 50%;
}


.navbar-default .navbar-nav > li >a {
    color: #e74c3c;
}

.selector {
    cursor: pointer;
    display: inline;
}

.create {
    color: darkgreen;
}

.update {
    color: blue;
}

.delete {
    color: red;
}

.modal {
    visibility: hidden;
    border-radius: 5px;
}

.navbar {
    background-color: midnightblue;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.navbar .navbar-nav .nav-link {
    border-radius: .25rem;
    margin: 0 0.25em;
    text-transform: uppercase;
}


th,td{
    padding: 35px;
    text-align: left;
}

* {
    padding: 0px;
    margin: 0px;
}
