<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Welcome to Movie Paradise</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="js/index.js"></script>
</head>
<body>
    <br>
    <nav class="navbar navbar-default navbar-expand-md fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">About Us</a>
        </div>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#siteMenu" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Movie List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="users.html">User List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
        </ul>
    </nav>

        <div class="outer_div">
        <div class="inner_div" align=center>This is about us</div>
    </div>
    <br />

    
</body>
    
</html>
