<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Welcome to Movie Paradise</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="js/index.js"></script>
</head>
<body>
    <br>
    <nav class="navbar navbar-default navbar-expand-md fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">User List</a>
        </div>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#siteMenu" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Movie List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="users.html">User List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item" style="margin-top: 7px">
                <input placeholder="Filter Users..."> <button type="submit">Search</button>
            </li>
        </ul>
    </nav>

    <table cellpadding="10" border="1"  style="width:75%" >
        <thead>
            <tr>
                <th>Username</th>
                <th>Number of Reviews</th>
                <th>Functionalities</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="userProfile.html">Iris</a></td>
                <td>2</td>
                <td>
                    <div class="selector create" onclick="modalShow('create')">Create</div>
                    <div class="selector update" onclick="modalShow('update')">Update</div>
                    <div class="selector delete" onclick="modalShow('delete')">Delete</div>

                    <!-- <div class="selector"><a class="create" href="CUD.html">Create</a></div>
                    <div class="selector"><a class="update" href="CUD.html">Update</a></div>
                    <div class="selector"><a class="delete" href="CUD.html">Delete</a></div> -->
                </td>
            </tr>
            <tr>
                <td>Justin</td>
                <td>1</td>
                <td>
                    <div class="selector create" onclick="modalShow('create')">Create</div>
                    <div class="selector update" onclick="modalShow('update')">Update</div>
                    <div class="selector delete" onclick="modalShow('delete')">Delete</div>

                    <!-- <div class="selector"><a class="create" href="CUD.html">Create</a></div>
                    <div class="selector"><a class="update" href="CUD.html">Update</a></div>
                    <div class="selector"><a class="delete" href="CUD.html">Delete</a></div> -->
                </td>
            </tr>   
        </tbody>
    </table>
    
</body>
<footer>
    <div id="myModal" class="modal" style="display: none;">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>This is a modal where someone can create/update/delete an entry</p>
        </div>
    </div>
</footer>
    

    
</html>
